/*
Style sheet file
*/

div {
  background-color: #fff;
  color: #777;
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 10px 26px;
  width: 100%;
  opacity: 0.95;
  border: none;
  cursor: pointer;
}
